{{!-- value="{{item.title}}" --}}

<section class="edit-form-container">

    <form method="post">
        <h3>Edit Book Review</h3>
        <label>Title</label>
        <input type="text" name="title" class="box" value="{{item.title}}" id="title">
        <label>Author</label>
        <input type="text" name="author" class="box" value="{{item.author}}" id="author">
        <label>Genre</label>
        <input type="text" name="genre" class="box" value="{{item.genre}}" id="genre">
        <label>Stars</label>
        <input type="number" name="stars" class="box" value="{{item.stars}}" id="stars">
        <label>Image</label>
        <input type="text" name="image" class="box" value="{{item.image}}" id="image">
        <label>Review</label>
        <textarea class="box" name="review">{{item.review}}</textarea>
        <input type="submit" value="Edit" class="btn">
    </form>
</section>