
            <section id="deatils-page">
                <div class="wrapper">
                    <div class="product-img">
                        <img src="{{item.homeImage}}">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <div class="product-text">
                                <h1>Name: {{item.name}}</h1>
                                <h2>Type: {{item.type}}</h2>
                                <h4>Year: {{item.year}}</h4>
                                <h4>City: {{item.city}}</h4>
                                <p>Description: {{item.description}}</p>

                                {{#if isRented}}
                                <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
                                <p>People rented this housing: {{tenants}}</p>
                                {{else}}
                                <!-- If not display: -->
                                <p>People rented this housing: There are no tenants yet.</p>
                                {{/if}}
                            </div>
                        </div>

                        <!-- if there is no registered user, do not display buttons-->
                        {{#if user}}
                        <div class="product-btn">
                            <!-- Only for registered user and creator of the housing offer-->
                            {{#if isCreator}}
                            <a href="/items/edit/{{item._id}}" class="edit">Edit</a>
                            <a href="/items/delete/{{item._id}}" class="remove">Delete</a>
                            {{/if}}


                            {{#unless isCreator}}
                            
                            {{#if isAvailable}}
                            <!-- logged in user with available pieces-->
                            {{#unless hasAlreadyRented}}
                            <a href="/items/rent/{{item._id}}" class="rentHome">Rent a home, available {{item.availablePieces}} housing</a>
                            {{/unless}}
                            
                            {{#if hasAlreadyRented}}
                            <p class="alRentHome">You have already rent this home</p>
                            {{/if}}

                            {{else}}
                            <!-- logged in user with no available pieces-->
                            <p class="no-housing">No Housing Available!</p>
                            {{/if}}

                            {{/unless}}

                        </div>
                        {{/if}}
                    </div>
                </div>
            </section>


