{{!-- --}}

<div class="details-container">
    <div class="details-container-image">
        <img src="{{item.image}}">
    </div>
    <div class="details-container-info">
        <h2>{{item.title}}</h2>
        <h3>{{item.category}}</h3>
        <h3>By: {{ownerEmail}}</h3>
        {{#if hasFollowers}}
        <!--If there are followers-->
        <h4>Follow By: {{peopleFollowed}}</h4>
        {{else}}
        <!--If there are no followers-->
        <h4>There are no followers yet!</h4>
        {{/if}}
    </div>
    <div class="details-container-content">
        <p>{{item.content}}</p>
    </div>
    {{#if user}}
    <div class="btn-container">
        <!-- Only for registered user and creator of the blog post-->
        {{#if isCreator}}
        <a href="/items/edit/{{item._id}}">Edit</a>
        <a href="/items/delete/{{item._id}}">Delete</a>
        {{else}}

        {{#if hasAlreadyFollowed}}
        <!-- logged in user who has already followed the blog-->
        <p class="follow-pub">You already follow this blog!</p>
        {{else}}
        <!-- logged in user who has not yet followed the blog-->
        <a href="/items/follow/{{item._id}}">Follow</a>
        {{/if}}


        {{/if}}


    </div>
    {{/if}}
</div>